body{
  background-color: #f38181
}
h1,p{
  color: #ffffff;
  font-weight: bold;
}
.container {
  display: grid;
}
.form{
  max-width: 400px;
  margin: 0 auto;
}
.weatherbtn{
   background-color:#95e1d3;
  }

.weather {
  text-align: left;
  max-width: 400px;
}